{{#primary_author}}
  <a class="author-info" href="{{url}}">
    {{#if profile_image}}
      <img class="author-info__image" src="{{profile_image}}" alt="{{name}}’s Profile Image" />
    {{/if}}

    <div>
      <p class="author-info__name">
        {{name}}
      </p>
      <p class="author-info__bio">{{bio}}</p>
    </div>
  </a> {{! end author info }}
{{/primary_author}}
