<article class="post-teaser {{post_class}} container">
  <a class="post-teaser-elem" href="{{url}}">
    <p class="post-teaser-elem__date">
      {{date format="Do MMMM YYYY"}} — {{tags separator=", " autolink="false"}}
    </p>
    <p class="post-teaser-elem__title">{{title}}</p>
  </a>
</article>