{{!< default}}

{{> content-header}}

{{#author}}
  <section class="author-profile container">

    {{#if profile_image}}
      <img class="author-profile__image" src="{{profile_image}}" alt="{{name}}’s profile image" />
    {{/if}}

    <div class="author-profile__content">
      <h1 class="author-profile__name">{{name}}</h1>

      {{#if bio}}
        <p class="author-profile__bio">{{bio}}</p>
        {{else}}
        <p class="author-profile__bio">
          To let their work speak for itself, {{name}} has not written a bio.
        </p>
      {{/if}}

      <div class="author-profile__meta">
        {{#if location}}
          <a href="#" class="author-info-item">
            <span class="material-symbols-outlined">location_on</span>
            <p>{{location}}</p>
          </a>
        {{/if}}

        {{#if website}}
         <a class="author-info-item" href="{{website}}" class="author-info-item__link">
            <span class="material-symbols-outlined">link</span>
            <p>Site web</p>
          </a>
        {{/if}}

        <a href="{{url}}rss" class="author-info-item">
          <span class="material-symbols-outlined">rss_feed</span>
          <p>RSS</p>
        </a>

        {{#if twitter}}
          <a href="https://twitter.com/{{twitter}}" class="author-info-item">
            <span class="material-symbols-outlined">post</span>
            <p>Twitter</p>
          </a>
        {{/if}}
      </div>
    </div>

  </section>
{{/author}}

{{! The main content area on the homepage }}
<main class="content">

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}

</main>
