{{!< default}}

{{>content-header}}

<main class="container content" id="content">

  <article class="post {{post_class}}">

    {{#post}}

      <header class="post__header">
        <img src="{{feature_image}}" alt="{{title}}" class="post-image post-image--full">
        
        <h1 class="post__title">{{title}}</h1>

        <div class="post__meta">
          <p class="main">
            {{date format="Do MMMM YYYY"}}, par
            {{#primary_author}}<a href="{{url}}">{{name}}</a>{{/primary_author}}
          </p>

          <p class="sep">•</p>

          {{#if tags}}
          <span class="post__tags">
            {{tags limit="3" separator=""}}
          </span>
          {{/if}}
        </div>
      </header>

      <section class="post__content">
        {{#if access}}
            {{content}}
        {{/if}}

      </section>

      <footer class="post__footer">

      {{> author-info}}

      </footer>


    {{/post}}

  </article>
</main>
